body {
  font-family: Impact;
  margin: 0px;
}

#name {
  text-align: center;
  font-size: 20px;
}
#picture {
  height: 500px;
  width: 100%;
  background-image: url("C0001.00_07_16_04.Still017.jpg");
}
